.#{$global} {
    &-carousel-testimonial {
        width: 100%;
        position: relative;

        &__carousel-inner {
            width: 100%;

            >.item {
                width: 100%;
                z-index: 1;
            }
        }

        &__caption {
            width: 635px;
            @include text-shadow(0 0 0);
        }

        &__quote {
            margin-bottom: 50px !important;
        }

        .author {
            @include font-size(2);

            .mute {
                display: block;
                text-transform: uppercase;
                @include font($sub-header-font, normal, 400);
                @include font-size(1.7);
                color: lighten($color-brand, 30%);
            }
        }

        &__control {
            width: 100%;
            position: absolute;
            z-index: 4;
            top: 50%;
            transform: translateY(-50%);

            .carousel-control {
                background-image: none;
                background-color: transparent;
                width: 50px;
                height: 50px;
                padding: 10px;
                text-shadow: 0 0 0;
                transition: all .5s ease;
                color: $color-brand-secondary;
                @include border-radius(4px);
                opacity: 1;

                svg {
                    height: 30px;
                }
            }

            .left {
                left: -150px;
            }

            .right {
                right: 150px;
            }
        }
    }
}
