.card {
    margin-bottom: 60px;
    &__icon {
        svg {
            height: 75px;
        }
        @include breakpoint(below-sm) {
            margin-bottom: 20px;
        }
    }
    &__title {
        @include font-size(2.2);
    }
    &__features {
        >li {
            margin-bottom: 10px;
        }
    }
}
