ul,
ol {
    @extend %clear-gutter;
    list-style-position: inside;
    >li {
        margin: 0 0 15px;
        >ul {
            margin-left: 30px;
            margin-top: 15px;
        }
        @include last-child() {
            margin-bottom: 0;
        }
    }
}

.list {
    &--brand {
        list-style-type: none;
        margin: 0;
        padding: 0;
        &>li {
            position: relative;
            padding-left: 30px;
            &::before {
                content: '';
                position: absolute;
                background-color: $color-brand-secondary;
                width: 6px;
                height: 6px;
                top: 7px;
                left: 0;
                @include border-radius(100%);
            }
        }
    }
}
