.navbar {
    min-height: 20px;
    height: auto;
    float: none;
    margin: 0;
    padding: 10px 0;
    line-height: 1;

    &-nav {
        float: none;
        display: inline-block;
        margin: 10px 0 0;
        padding: 0;
        line-height: 1;

        >li {
            margin: 0;

            >a {
                background-color: transparent;
                padding: 20px;
                // @include font($sub-header-font, normal, normal);
                @include links($color-header-navbar, $color-header-navbar, $color-header-navbar-hover, $color-header-navbar);

                &:hover,
                &:focus {
                    background-color: transparent;
                }
            }
        }
    }

    &-brand {
        height: auto;
        padding: 20px 0;
        line-height: 1;
        display: inline-block;

        >img {
            max-width: 50%;
            display: inline-block;
        }
    }
}
