.navbar {
    min-height: 20px;
    height: auto;
    float: none;
    margin: 0;
    padding: 10px 0;
    line-height: 1;

    &-nav {
        float: none;
        display: inline-block;
        margin: 10px 0 0;
        padding: 0;
        line-height: 1;

        >li {
            margin: 0;

            >a {
                background-color: transparent;
                padding: 20px;
                // @include font($sub-header-font, normal, normal);
                @include links($color-header-navbar, $color-header-navbar, $color-header-navbar-hover, $color-header-navbar);

                &:hover,
                &:focus {
                    background-color: transparent;
                }

                @include breakpoint(sm) {
                    padding: 20px 12px;
                    @include font-size(1.7);
                }
            }
        }
    }

    &-brand {
        background-image: url('#{$theme-imgpath}/logo-creatiq-5d-white@2x.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 20px;
        width: 150px;
        height: 75px;
        padding: 0;
        line-height: 1;
        display: block;

        >img {
            max-width: 50%;
            display: inline-block;
        }
    }

    &-collapse {
        border: none;
        @include box-shadow(0 0 0);
    }
}

.content {
    .navbar {
        &-brand {
            background-image: url('#{$theme-imgpath}/logo-creatiq-5d-black@2x.png');
        }

        &-nav {
            >li {
                >a {
                    @include links(lighten($color-brand, 30%), lighten($color-brand, 30%), $color-brand-secondary, lighten($color-brand, 30%));

                }

                &.active {
                    a {
                        position: relative;
                        color: $color-brand-secondary;

                        // &:after {
                        //     content: '';
                        //     background-color: $color-brand-secondary;
                        //     width: 4px;
                        //     height: 4px;
                        //     position: absolute;
                        //     bottom: -16px;
                        //     left: 50%;
                        //     transform: translateX(-50%);
                        // }
                    }
                }
            }
        }
    }
}
