.plans {
    &__list {
        font-size: 0;
        margin-bottom: 100px;
        margin-right: 15px;

        >li {
            width: 33%;
            // width: 33.33333%;
            // min-height: 350px;
            @include font-size(1.6);
            margin: 0;
            padding: 0;
            // float: left;
            display: inline-block;
            vertical-align: middle;
            @include breakpoint(below-sm) {
                width: 100%;
                float: none;
                margin-bottom: 50px;
            }
        }
    }

    &__features {
        list-style-type: none;
        margin: 0;
        padding: 0;
        >li {
            text-align: left;
            margin-left: 15px;
            margin-bottom: 10px;
            position: relative;
            &:before {
                content: '';
                background-color: $color-brand;
                width: 4px;
                height: 4px;
                position: absolute;
                top: 7px;
                left: -20px;
                @include border-radius(100px);
            }
        }
    }

    &__link {
        @include font-size(1.8);
        @include font($sub-header-font, normal, 500);
    }

    &__icon {
        margin-bottom: 25px;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &__offer {
        color: $color-brand-secondary;
        @include font-size(2);
        margin-bottom: 15px;
        display: block;
    }

    p {
        margin-bottom: 0;
    }
}
