.title {
    display: block;
    margin-bottom: 80px;
    &--home {
        @include font($header-font, normal, 600);
        @include font-size(1.6);
        color: $color-brand;
    }
    &__bullet {
        width: 36px;
        height: 36px;
        background-color: $color-brand-secondary;
        display: block;
        &-content {
            background-color: #7F65A4;
        }
    }
    &__highlight {
        color: $color-brand-secondary;
    }
}
