html {
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

body {
    background-color: $color-white;
    @include font($base-font, normal, 300);
    @include font-size(1.8);
    @include font-smoothing(on);
    letter-spacing: 0.0015em;
    color: $color-base;
}
