@font-face {
    font-family: 'Campton';
    src: url('Campton-LightItalic.eot');
    src: url('Campton-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Campton-LightItalic.woff2') format('woff2'),
        url('Campton-LightItalic.woff') format('woff'),
        url('Campton-LightItalic.ttf') format('truetype'),
        url('Campton-LightItalic.svg#Campton-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-ThinItalic.eot');
    src: url('Campton-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Campton-ThinItalic.woff2') format('woff2'),
        url('Campton-ThinItalic.woff') format('woff'),
        url('Campton-ThinItalic.ttf') format('truetype'),
        url('Campton-ThinItalic.svg#Campton-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Campton Book';
    src: url('Campton-BoldItalic.eot');
    src: url('Campton-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Campton-BoldItalic.woff2') format('woff2'),
        url('Campton-BoldItalic.woff') format('woff'),
        url('Campton-BoldItalic.ttf') format('truetype'),
        url('Campton-BoldItalic.svg#Campton-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-Thin.eot');
    src: url('Campton-Thin.eot?#iefix') format('embedded-opentype'),
        url('Campton-Thin.woff2') format('woff2'),
        url('Campton-Thin.woff') format('woff'),
        url('Campton-Thin.ttf') format('truetype'),
        url('Campton-Thin.svg#Campton-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-ExtraBold.eot');
    src: url('Campton-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Campton-ExtraBold.woff2') format('woff2'),
        url('Campton-ExtraBold.woff') format('woff'),
        url('Campton-ExtraBold.ttf') format('truetype'),
        url('Campton-ExtraBold.svg#Campton-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Campton Book';
    src: url('Campton-BookItalic.eot');
    src: url('Campton-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('Campton-BookItalic.woff2') format('woff2'),
        url('Campton-BookItalic.woff') format('woff'),
        url('Campton-BookItalic.ttf') format('truetype'),
        url('Campton-BookItalic.svg#Campton-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-Black.eot');
    src: url('Campton-Black.eot?#iefix') format('embedded-opentype'),
        url('Campton-Black.woff2') format('woff2'),
        url('Campton-Black.woff') format('woff'),
        url('Campton-Black.ttf') format('truetype'),
        url('Campton-Black.svg#Campton-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-ExtraLightItalic.eot');
    src: url('Campton-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Campton-ExtraLightItalic.woff2') format('woff2'),
        url('Campton-ExtraLightItalic.woff') format('woff'),
        url('Campton-ExtraLightItalic.ttf') format('truetype'),
        url('Campton-ExtraLightItalic.svg#Campton-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-SemiBold.eot');
    src: url('Campton-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Campton-SemiBold.woff2') format('woff2'),
        url('Campton-SemiBold.woff') format('woff'),
        url('Campton-SemiBold.ttf') format('truetype'),
        url('Campton-SemiBold.svg#Campton-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-ExtraLight.eot');
    src: url('Campton-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Campton-ExtraLight.woff2') format('woff2'),
        url('Campton-ExtraLight.woff') format('woff'),
        url('Campton-ExtraLight.ttf') format('truetype'),
        url('Campton-ExtraLight.svg#Campton-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-MediumItalic.eot');
    src: url('Campton-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Campton-MediumItalic.woff2') format('woff2'),
        url('Campton-MediumItalic.woff') format('woff'),
        url('Campton-MediumItalic.ttf') format('truetype'),
        url('Campton-MediumItalic.svg#Campton-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-ExtraBoldItalic.eot');
    src: url('Campton-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Campton-ExtraBoldItalic.woff2') format('woff2'),
        url('Campton-ExtraBoldItalic.woff') format('woff'),
        url('Campton-ExtraBoldItalic.ttf') format('truetype'),
        url('Campton-ExtraBoldItalic.svg#Campton-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-BlackItalic.eot');
    src: url('Campton-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Campton-BlackItalic.woff2') format('woff2'),
        url('Campton-BlackItalic.woff') format('woff'),
        url('Campton-BlackItalic.ttf') format('truetype'),
        url('Campton-BlackItalic.svg#Campton-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-Medium.eot');
    src: url('Campton-Medium.eot?#iefix') format('embedded-opentype'),
        url('Campton-Medium.woff2') format('woff2'),
        url('Campton-Medium.woff') format('woff'),
        url('Campton-Medium.ttf') format('truetype'),
        url('Campton-Medium.svg#Campton-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-Light.eot');
    src: url('Campton-Light.eot?#iefix') format('embedded-opentype'),
        url('Campton-Light.woff2') format('woff2'),
        url('Campton-Light.woff') format('woff'),
        url('Campton-Light.ttf') format('truetype'),
        url('Campton-Light.svg#Campton-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Campton Book';
    src: url('Campton-Bold.eot');
    src: url('Campton-Bold.eot?#iefix') format('embedded-opentype'),
        url('Campton-Bold.woff2') format('woff2'),
        url('Campton-Bold.woff') format('woff'),
        url('Campton-Bold.ttf') format('truetype'),
        url('Campton-Bold.svg#Campton-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Campton Book';
    src: url('Campton-Book.eot');
    src: url('Campton-Book.eot?#iefix') format('embedded-opentype'),
        url('Campton-Book.woff2') format('woff2'),
        url('Campton-Book.woff') format('woff'),
        url('Campton-Book.ttf') format('truetype'),
        url('Campton-Book.svg#Campton-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('Campton-SemiBoldItalic.eot');
    src: url('Campton-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Campton-SemiBoldItalic.woff2') format('woff2'),
        url('Campton-SemiBoldItalic.woff') format('woff'),
        url('Campton-SemiBoldItalic.ttf') format('truetype'),
        url('Campton-SemiBoldItalic.svg#Campton-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

$global: 'theme';


// Font Variables
$base-font: 	    'Campton', Helvetica, Arial, sans-serif;
$header-font: 	    'Campton', Helvetica, Arial, sans-serif;
$sub-header-font: 	'Campton Book', Helvetica, Arial, sans-serif;
// $theme-icons: 	    'pv-common';


// Color Variables
$color-white : #fff;
$color-black : #000;

// Dark Alpha Color Swatches
$color-10: darken($color-white, 10%); // #e6e6e6
$color-20: darken($color-white, 20%); // #cccccc
$color-30: darken($color-white, 30%); // #b3b3b3
$color-40: darken($color-white, 40%); // #999999
$color-50: darken($color-white, 50%); // #808080
$color-60: darken($color-white, 60%); // #666666
$color-70: darken($color-white, 70%); // #4d4d4d
$color-80: darken($color-white, 80%); // #333333
$color-90: darken($color-white, 90%); // #1a1a1a


// Brand Color
$color-brand: #4C5672;
$color-brand-secondary: #60B2E5;

// Bootstrap Color
$color-primary : #3498DB !default;
$color-success : #5cb85c !default;
$color-info : #67B2E5 !default;
$color-warning : #F39C12 !default;
$color-danger : #E74C3C !default;

// Page Color Properties
$color-base: #828282;

$color-header-brand: $color-brand;
$color-header-typo: $color-white;

$color-header-navbar: $color-white;
$color-header-navbar-hover: #494363;
$color-footer-copyright: white(.5);

$color-tab-link: lighten($color-brand, 70%);
$color-tab-link-hover: $color-brand;
$color-tab-link-active: $color-brand;

$color-pushy: $color-90;

$color-light: $color-10;
$color-semi-light: $color-50;
$color-dark: $color-90;
$color-semi-dark: $color-70;

$color-link-default: lighten($color-brand, 80%);
$color-link-default-hover: $color-brand;
$color-link-light: $color-40;   
$color-link-light-hover: $color-90;
$color-visited: $color-base;
$color-active: $color-base;
$color-border: lighten($color-brand, 20%);
